#main-container{
    background-color: #C3412C;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 100px;
    width: 250px;
    margin: 10% auto;
}
#input{
    min-height: 30px;
    width: 140px;
    padding-left: 10px;
}
#name{
    text-transform: uppercase;
    color: white;
    font-size: 25px;
}
.input-border-green{
    border: 2px solid green;
}
.input-green-text{
    color:green;
}
.input-border-red{
    border: 2px solid red;
}
#success-text, #false-text{
    position: absolute;
    margin-top: 30px;
    margin-left: 25px;
}
#success-text{
    border-radius: 5px;
    position: static;
    padding-right: 5px;
    padding-left: 5px;
    background-color: #353A3D;
    margin: 0;
    color: #FFF;
}
#box-for-success{
    display: flex;
    position: absolute;
    padding-bottom: 75px;
    align-items: center;
}
#delete-button{
    border-radius: 5px;
    min-width: 15px;
    min-height: 15px;
    margin-left: 10px;
}
